* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  width: 100%;
}
.home_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: black;
  width: 20%;
  height: 100vh;
}
.home_head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home_head i {
  font-size: 25px;
}
.home_head h3 {
  color: white;
  font-weight: 600;
}
.home_left i {
  color: white;
}
.home_left p {
  color: white;
  font-weight: 500;
}
.home_item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}
.home_lang {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  margin-top: 40px;
}
.library {
  padding-top: 20px;
}
.home_right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.artist {
  background-color: rgb(19, 18, 18);
  height: 100%;
  padding: 20px;
}
.artist_head p {
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.cards_item h5 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}
.cards_item p {
  color: gray;
  font-weight: 500;
  font-size: 15px;
}
.cards_item img {
  width: 90%;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.cards_item {
  position: relative;
  cursor: pointer;
}
.cards_item:hover .song_icon {
  display: flex;
  cursor: pointer;
}
.song_icon {
  background-color: #1fdf64;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 140px;
  bottom: 60px;
}
.song_icon i {
  color: black;
  font-size: 20px;
}
