.popular .popular_item {
  display: flex;
}
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.popular_left {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}
input {
  background-color: #242424;
  border-radius: 500px;
  color: #fff !important;
  height: 48px;
  padding: 6px 36px;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
  border-color: transparent;
}
.search_icon{
    position: relative;
    top: 3px;
    left: 40px;
}
.search_wrap {
  position: relative;
  border-radius: 5px;
  height: 150px;
}
.search_wrap img{
 width: 80px;
 height: 80px;
 object-fit: cover;
 position: absolute;
 right: 0;
 border-radius: 5px;
 bottom: 0;
}
.search_wrap p{
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
}
.headSearch{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1024px) {
  .headSearch{
    grid-template-columns: 1fr 1fr 1fr !important;
  }
 }
 @media (max-width: 900px) {
  .headSearch{
    grid-template-columns: 1fr 1fr  !important;
  }
  .popular input{
    width: 50%;
  }
 }
 @media (max-width: 700px) {
  .headSearch{
    grid-template-columns: 1fr 1fr  !important;
  }
  .popular input{
    width: 30%;
  }
 }
 @media (max-width: 500px) {
  .headSearch{
    grid-template-columns: 1fr   !important;
  }
  .popular input{
    width: 20%;
  }
 }